{% extends 'farm_app/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if action == 'Add' %}Add{% else %}Edit{% endif %} Inventory Item - Farm Management System{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">{{ action }} Inventory Item</h4>
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success w-100">
                                <i class="fas fa-save"></i> Save
                            </button>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'inventory_list' %}" class="btn btn-secondary w-100">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}